html {
  height:100%;
}
body {
  height:100%;
}
#body {
  height:85%;
}
#Game {
  width: 900px;
  height: 100%;
  margin: auto;
}
#Game > * {
  height: 100%;
}

#center {
  margin: auto;
  width: 600px;
  height: 100%;
}
#center h3 {
  text-align: center;
  color: rgb(100, 100, 100);
}
#center section {
  width: 480px;
  height: 80%;
  margin: auto;
}
#center canvas {
  box-shadow: 6px 6px 12px 0px rgba(11, 12, 12, 0.16)
}