#Chatting_Nawa {
	background: #AAAAAA;
  margin:0 auto;
	padding:0;
	max-width:960px;
  top : 24px;
	width : calc(100% - 48px);
	height: calc(100% - 216px);
}

#Chatting {
  margin:0 auto;
	padding:0;
	max-width:960px;
  top : calc(100% - 192px);
	width : calc(100% - 48px);
	height: calc(100% - 700px);
}

#Chatting_Real {
  background: #BBBBBB;
  float: left;
  width: 92%;
  height: 100%;
}

#Chatting_Click {
  background: pink;
  float: right;
	width: 8%;
  height: 100%
}
