html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.box {
  background: #FFFFFF;
  color: #000000;

  position: relative;
  display: block;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
}