#footer{
     width:100%;
            position: fixed;
            height: 100px;
            bottom:0;

            background-color:#EEEEEE;
            font-size:15px;
            color:#424242;
            padding:10px;
            font-family:inherit;
}

#header{
    position:fixed;
    width:100%;
    height:70px;
    background-color:#009688;
    box-shadow:0 1px 0 rgba(0,0,0,.10196078);
    padding:10px;
    z-index:999;

}