#id_gameResults_ul {
    overflow-y:scroll;
}
#id_gameResults_ul li {
    border:2px solid black;
}
#id_gameResults_ul li .class_selected {
    border-color:red;
}
#id_gameResults_ul li:hover {

}
#id_goToLobby_btn {

}