 #content{ border: 1px solid red; padding: 5px; margin: 5px; max-width: 500px; }
    .commentBox{ border: 1px solid black; padding: 1px; margin: 5px; }
    .commentList{ border: 1px solid blue; padding: 5px; margin: 5px; }
    .commentForm{ boder: 1px solid red; padding: 5px; margin: 5px; }
    .comment{ border: 1px solid black; padding: 5px; margin: 5px; }

