<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ handler.settings["title"] }}</title>
    <link  rel="alternate" href="/feed" type="application/atom+xml" title="{{ handler.settings['title'] }}">
     <!--css code-->
    {% block head %}
   {% end %}

</head>
<body >
<div>
<div id="header">
    <a>{{ handler.settings["title"] }}</a>

    {% if current_user %}
    <p>{{ current_user.name }}</p>
    {% else %}
    <div id="sign_in"  ></div>
    {% end %}
</div>


<div id="body" >
    {% block body %}{% end %}

</div>

    <div id="footer"></div>
<!--script code-->
{% block bottom %}

{% end %}



</div>
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
<script type="text/jsx" src='{{ static_url("base.js") }}'></script>
</body>
</html>
