<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ handler.settings["title"] }}</title>
    <link  rel="alternate" href="/feed" type="application/atom+xml" title="{{ handler.settings['title'] }}">
     <!--css code-->
    {% block head %}

   {% end %}
</head>
<body>
<div id="header">
    <a>{{ handler.settings["title"] }}</a>

    {% if current_user %}
    <p>{{ current_user.name }}</p>
    {% else %}
    {% end %}
</div>

<div id="body">{% block body %}{% end %}</div>

<!--script code-->
{% block bottom %}{% end %}
<div style="padding-bottom: 70px;">
<p>LICENSE</p><br>
<p>OPEN SOURCE</p><br>
<p>GITHUB LINK</p><br>
</div>
</body>
</html>
