<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ static_url('design.css')}}" >
        <link rel="stylesheet" type="text/css" href="{{ static_url('alertify.core.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url('alertify.default.css')}}" />
    </head>
    <body>
        <div id="id_baskin_message" class="class_ingame"></div>
        <canvas id="id_board_canvas" class="class_ingame" width="450" height="450" style="display:none"></canvas>
        <ul id="id_gameResults_ul" class="class_gameResult"></ul>
        <button id="id_goToLobby_btn" class="class_gameResult">home</button>
        <input type="button" id="id_conn_btn" class="class_lobby" value="connect websocket" />
        <input type="text" id="id_conn_id" class="class_lobby" />
        <ul id="id_list_ul" class="class_lobby"></ul>
        <button id="id_match_btn" class="class_lobby" disabled="true">submit</button>
        <br>
        <div id="id_messages"></div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ static_url('alertify.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('lobby.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('ingame_baskin.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('game_result.js') }}"></script>
        <br><br>
    </body>
</html>