{% extends "base.html" %}
<!--css code-->
<link href="/login.css" type="text/css">
{% block head %}

<link href="bootstrap.min.css">
{% end %}

{% block body %}
<!-- Latest compiled and minified CSS -->
{#<button id="sign_in"style="float:right;margin:20px"type="button" class="btn btn-default navbar-btn">Sign in</button>#}
<!--<div style="text-align:center;float:right; margin:20px; width:30vw;">-->

<div id="sign_up" style=" 'float':right;
            'marginRight':100px;
            'paddingTop':10px;
           ">

</div>
<!--

    {% module xsrf_form_html() %}

</form>  -->
<br>

{% end %}

{% block bottom %}

<script type="text/jsx" src='{{ static_url("login.js") }}'></script>




{% end %}